.git
**/.git

.idea
**/.idea

node_modules
**/node_modules

.nx
**/.nx

dist
**/dist

.env*.local
**/.env*.local

__generated__
**/__generated__

prod
**/prod

coverage
**/coverage

local
**/local

.secret
**/.secret
